In [ ]:
# removing whitespces from string.

In [1]:
name ="Anwarul"
print(name)

Anwarul

In [2]:
name1="   anwarul"
print(name1)

   anwarul

In [3]:
name2="anwarul     "
print(name2)

anwarul

In [4]:
#left stripping spaces
name1.lstrip()

'anwarul'

In [8]:
#right stripping space
name1.rstrip()

'   anwarul'

In [9]:
x ="   anwar  "
print(x)

   anwar

In [10]:
x.strip() # search spaces

'anwar'

In [ ]:
#introduction to list datatype
# a list is a collection of items in a partucualr orders
# classification : it is classified as am mutable datatypes
#How to define the list ----? ====> [] using aqure bracket
#Example below

In [14]:
students=['chitra', 'naveen','ariba', 'imran','anwarul', 'saranya', 'lakchmi']

In [24]:
print(students)

['chitra', 'naveen', 'ariba', 'imran', 'anwarul', 'saranya', 'lakchmi', 'madhvai', 'madhvai']

In [16]:
type(students)

list

In [ ]:
#How to implement above list...?

In [ ]:
#Introduction to understand indexing
#indexing starting from 0,1,2,3...

In [ ]:
#i want to access naveen where its index =1

In [20]:
print(students[1])

naveen

In [21]:
print(students[1].title())

Naveen

In [ ]:
#1. How to add new element in the list
#2. How to modify element in list
#3. How to delete the element  in the list

In [ ]:
# 1 How to add new element in the list
# req: I want to add madhva into the list

In [23]:
students.append('madhvai')

In [ ]:
# req: I want to add Kedar into the list

In [25]:
students.append('kedar')

In [26]:
print(students)

['chitra', 'naveen', 'ariba', 'imran', 'anwarul', 'saranya', 'lakchmi', 'madhvai', 'madhvai', 'kedar']

In [ ]:
# i want to add sarth name at the 2nd position

In [27]:
students.insert(2,'sarth')

In [28]:
print(students)

['chitra', 'naveen', 'sarth', 'ariba', 'imran', 'anwarul', 'saranya', 'lakchmi', 'madhvai', 'madhvai', 'kedar']

In [ ]:
#Q: what is the diffrent between append and insert

In [29]:
print(students)

['chitra', 'naveen', 'sarth', 'ariba', 'imran', 'anwarul', 'saranya', 'lakchmi', 'madhvai', 'madhvai', 'kedar']

In [ ]:
#2. How to modify element in list
# req: modify naveen name to vansi

In [30]:
students[1]="vansi"

In [31]:
print(students)

['chitra', 'vansi', 'sarth', 'ariba', 'imran', 'anwarul', 'saranya', 'lakchmi', 'madhvai', 'madhvai', 'kedar']

In [ ]:
#3. How to delete the element  in the list
#req:i want to delete naveen name from the above list

In [32]:
del students[1]

In [35]:
print(students)

['chitra', 'sarth', 'ariba', 'imran', 'anwarul', 'saranya', 'lakchmi', 'madhvai', 'madhvai', 'kedar']